.repair-stages {
  margin-top: 90px;

  &__items {
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .stages__item {
    width: 30%;
    height: 325px;
  }
}

@media (max-width: 1350px) {
  .stages__btn {
    margin-right: 20px;
  }

  .stages__item {
    width: 45% !important;
    height: 250px !important;
  }
}

@media (max-width: 750px) {
  .repair-stages {
    &__items {
      justify-content: center;
    }
  }
  .stages__btn {
    margin: 0 auto;
  }

  .stages__item {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 30px;
  }
} 