.repair-stages {
  margin: 90px 0;

  &__items {
    margin: 85px auto 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .stages__item {
    width: 31%;
    margin-right: 30px;
  }
}

@media (max-width: 1310px) {
  .repair-stages {
    &__items {
      margin: 55px auto 0;
    }
    .stages__item {
      width: 45%;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 750px) {
  .repair-stages {
    margin: 40px 0 70px;
    &__items {
      justify-content: center;
    }
  }

  .stages__btn {
    margin: 0 auto;
  }

  .stages__item {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 30px;
  }
} 