.main-menu {
	background: rgba(#131313, 95%);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 98;
	transition: all .3s;
	
	&.active {
		animation-name: modalOpenMenu;
		animation-duration: 1.6s;
	}

	&.disabled {
		animation-name: modalCloseMenu;
		animation-duration: 1.6s;
	}

	&__list {
		text-align: center;
		margin: 154px auto 70px;
		width: 250px;
	}

	&__item {
		display: inline-block;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-weight: 400;
		font-size: 48px;
		line-height: 56px;
		padding: 10px 0;
		color: #828282;
		transition: all .5s ease-in-out;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 15px;
			width: 100%;
			height: 3px;
			border-bottom: 3px solid #FAFF09;
			transition: all .3s ease-in-out;
			opacity: 0;
		}

		&:hover {
			color: #F2F2F2;
		}

		&:hover::after {
			bottom: 0;
			opacity: 1;
		}
	}

	&__social {
		width: 600px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__social-item {
		transition: all .3s ease-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}

@keyframes modalOpenMenu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes modalCloseMenu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 690px) {
	.main-menu {
		&__social {
			max-width: 330px;
			width: 100%;
		}

		&__social-item {
			padding: 0;
			padding-right: 10px;

			&:last-child {
				padding-right: 0;
			}
		}

		&__item {
			margin-bottom: 25px;
		}

		&__list {
			width: 125px;
			margin: 100px auto 50px;
		}

		&__link  {
			font-size: 24px;
			line-height: 28px;
			padding: 7px 0;
		}
	}
}
