.main-menu {
	background: rgba(#131313, 98%);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 98;

	&.active {
		animation: modalOpenMenu 1s;
	}

	&.disabled {
		animation: modalCloseMenu 1s;
	}

	&__list {
		text-align: center;
		margin: 124px auto 30px;
		width: 200px;
	}

	&__item {
		display: inline-block;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		font-weight: 400;
		font-size: 36px;
		line-height: 48px;
		padding: 10px 0;
		color: #828282;
		transition: all .5s ease-in-out;
		position: relative;
		outline: transparent;
		
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 10px;
			width: 100%;
			height: 3px;
			border-bottom: 3px solid #FAFF09;
			transition: all .3s ease-in-out;
			opacity: 0;
		}

		&:hover {
			color: #F2F2F2;
		}

		&:hover::after {
			bottom: 0;
			opacity: 1;
		}
	}

	&__social {
		width: 600px;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
	}

	&__social-item {
		transition: all .3s ease-out;
		outline: transparent;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__social-link {
		outline: transparent;
	}

	& .close-btn {
		margin-top: 5px;
		margin-right: 0;
	}
}

@keyframes modalOpenMenu {
	from {
    opacity: 0;
    transform: scale(.8, .8);
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes modalCloseMenu {
	from {
		transform: scale(1, 1);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(.8, .8);
  }
}

@media (max-width: 690px) {
	.main-menu {
		&__social {
			max-width: 330px;
			width: 100%;
		}

		&__social-item {
			padding: 0;
			padding-right: 10px;

			&:last-child {
				padding-right: 0;
			}
		}

		&__item {
			margin-bottom: 18px;
		}

		&__list {
			width: 125px;
			margin: 120px auto 40px;
		}

		&__link  {
			font-size: 24px;
			line-height: 28px;
			padding: 7px 0;
		}

		& .close-btn {
			margin-right: 0;
		}
	}
}

@media (max-height: 500px) {
	.main-menu {
		&__social {
			display: none;
		}
	}
}
