.contacts {
  margin-bottom: 62px;

  &__map iframe {
    width: 100%;
    height: 535px;
  }
}

@media (max-width: 1090px) {
  .contacts {
    &__map iframe {
      height: 400px;
    }
  }
}

@media (max-width: 690px) {
  .contacts {
    margin-bottom: 40px;
    &__map iframe {
      height: 280px;
    }
  }
}