.modal-call {
  &__wrapper {
    max-width: 700px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 15px #000;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &__contant {
    padding: 35px 50px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 10px;
    color: #000;
  }

  &__name,
  &__phone {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    outline: transparent;
    border: 3px solid rgba(0, 0, 0, .4);

    &::placeholder {
      color: #4F4F4F;
      font-weight: 300;
    }
  }

  &__btn {
    display: block;
    margin: 10px auto 0;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #333;
    background-color: #FAFF09;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 690px) {
  .modal-call {
    &__btn {
      width: 220px;
      padding: 12px 20px;
      font-size: 20px;
    }

    &__title {
      text-align: left;
      font-size: 24px;
      margin-bottom: 10px;
    }

    &__name,
    &__phone {
      padding: 10px;
      color: #000;
      font-size: 16px;
      line-height: 24px;
      border: 1px solid rgba(0, 0, 0, .4);

      &::placeholder {
        color: #4F4F4F;
        font-weight: 300;
      }
    }

    &__contant {
      padding: 20px;
    }
  }
}
