.advantage {
  margin: 100px 0 150px;
  
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    background: #F2F2F2;
    width: 100%;
  }

  &__item {
    padding: 37px;
    text-align: center;
    color: #333;
    width: 25%;
    border-right: 3px solid #ccc;
    &:last-child {
      border-right: none;
    }
  }

  &__item-number {
    font-size: 64px;
    line-height: 75px;
    font-weight: 500;
    margin-bottom: 17px;
  }

  &__item-title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 500;
    padding-left: 27px;
    margin-bottom: 16px;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #333;
      top: 6px;
      left: 0;
    }
  }
}

@media (max-width: 1660px) {
  .advantage {
    &__item {
      padding: 20px;
    }
    &__item-number {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 13px;
    }

    &__item-title {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 13px;
      display: inline-block;

      &::before {
        top: 3px;
      }
    }

    &__item-text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media (max-width: 1320px) {
  .advantage {
    &__inner {
      padding-bottom: 30px;
    }

    &__item-number {
      margin-bottom: 8px;
    }

    &__item {
      text-align: center;
      width: 50%;
      flex-wrap: wrap;
      border-right: none;
    }

    &__item-title {
      padding-left: 0;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 8px;

      &::before {
        display: none;
      }
    }

    &__item-text {
      margin-right: 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-color: #0E0E0E;
      }
    }
  }
} 

@media (max-width: 786px) {
  .advantage {
    margin: 60px 0;

    &__item {
      width: 100%;
    }

    &__item-number {
      font-size: 34px;
      line-height: 40px;
    }
  }
} 