.stages {
	margin-bottom: 126px;

	&__inner {
		margin-top: 101px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 28%;
		margin-bottom: 80px;
		color: #000;
	}

	&__num {
		font-weight: 600;
		font-size: 64px;
		line-height: 75px;
	}

	&__img {
		margin-bottom: 30px;
		display: block;
	}

	&__title {
			margin-bottom: 18px;
			display: flex;
			align-items: center;;

		& h3 {
			display: inline-block;
			font-weight: 700;
			font-size: 32px;
			line-height: 37px;
			padding-bottom: 10px;
			position: relative;
			margin-left: 15px;

			&::after {
				position: absolute;
				bottom: 0;
				left: 2px;
				content: '';
				width: 120px;
				height: 5px;
				background: #FAFF09;
			}
		}
	}

	&__content-text {
		font-weight: 400;
		font-size: 28px;
		line-height: 147.69%;
		color: #4F4F4F;
		margin-bottom: 10px;
	}

	&__content-link {
		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
		border: none;
		color: #000;
		position: relative;
		background: transparent;
		cursor: pointer;

		&::before {
			content: url('./images/check.svg');
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: #FAFF09;
			padding: 4px;
			margin-right: 6px;
		}
	}
}

@media (max-width: 1350px) {
	.stages {
		margin-bottom: 80px;

		&__inner {
			margin-top: 60px;
		}

		&__item {
			width: 47%;
			margin-bottom: 60px;
		}

		&__title {
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 14px;
			&::after {
				width: 100px;
				height: 3px;
			}
		}

		&__img {
			margin-bottom: 32px;
		}

		&__num {
			font-size: 48px;
			line-height: 145.69%;
		}

		&__content-text {
			font-size: 18px;
			line-height: 147.69%;
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 868px) {
	.stages {
		margin-bottom: 40px;

		&__inner {
			margin-top: 40px;
		}

		&__item {
			width: 100%;
			text-align: center;
			padding-left: 0;

			&:last-child {
				margin-bottom: 5px;
			}
		}

		&__items {
			justify-content: center;
		}

		&__img {
			margin: 0 auto 16px;
		}

		&__num {
			display: none;
		}

		&__title {
			justify-content: center;
		}

		&__title h3 {
			display: block;
			font-size: 22px;
			margin-left: 0;
			padding-bottom: 5px;
			&::after {
				left: 50%;
				transform: translateX(-50%);
				width: 90px;
			}
		}
	}
}