.catalog {
  margin-bottom: 50px;
  &__input {
    width: 100%;
    border: 1px solid #000;
    color: #000;
    font-size: 20px;
    padding: 23px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;

    &::placeholder {
	    font-family: 'Roboto', sans-serif;
      font-weight: 200;
      font-size: 20px;
      color: #4F4F4F;
    }

    &:focus {
      border: 1px solid #dee203;
      box-shadow: 1px 1px 10px rgba(#FAFF09, 60%);
    }
  }

  &__btn {
    display: block;
    width: 100%;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background: #000;
    border: none;
    padding: 30px 0;
    color: #f2f2f2;
    margin-top: 40px;
    transition: all .3s ease-in;
    cursor: pointer;

    &:hover {
			box-shadow: 0px 2px 16px rgba(0, 0, 0, .4);
		}
  }
}

@media (max-width: 1090px) {
  .catalog {
    margin-bottom: 0px;

    &__input {
      font-size: 16px;
      line-height: 18px;
      width: 100%;

      &::placeholder {
        font-size: 16px;
        line-height: 18px;
      }
    }

    &__btn {
      font-size: 18px;
      line-height: 21px;
      width: 393px;
      height: 66px;
      padding: 22px 0;
      margin: 40px auto;
    }
  }
}

@media (max-width: 690px) {
  .catalog {
    margin-bottom: 10px;

    &__btn {
      width: 100%;
      font-size: 18px;
      line-height: 21px;
      padding: 12px 0;
      height: 60px;
      margin: 15px 0 25px;
    }

    &__input {
      padding: 15px;
      margin-bottom: 5px;
    }
  }
}