.question__btn {
  text-align: center;
  border: 1px solid #000;
  padding: 15px 100px;
  text-align: center;
  color: #000;
  font-weight: 200;
  font-size: 26px;
  line-height: 42px;
  background-color: #fff;
  transition: all .3s ease;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

@media (max-width: 1250px) { 
  .question__btn {
    padding: 8px 50px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 620px) {
  .question__btn {
    padding: 5px 15px;
    font-size: 16px;
    line-height: 18px;
  }
}