.pageEror {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: red;
    font-size: 53px;
    line-height: 60px;
    font-weight: 400;
  }

  &__btn {
    margin-top: 40px;
    background-color: #000;
    padding: 12px 30px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
  }
}

