.view-page {
	margin-top: 15px;
	margin-bottom: 50px;

	&__tabs {
		width: 445px;
		display: flex;
		margin: 30px auto 0;
	}

	&__tab {
		border: 1px solid #000;
		background-color: #fff;
		color: #000;
		padding: 18px 58px;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		cursor: pointer;
		margin: 0 13px;

		&.active {
			background-color: #000;
			color: #fff;
		}
	}
}

@media (max-width: 900px) {
	.view-page {
		&__tabs {
			width: 300px;
		}

		&__tab  {
			font-size: 16px;
			padding: 10px 32px;
		}
	}
}