.projects-page {
  margin-bottom: 90px;
  z-index: 1;

  &__request {
    margin-top: 88px;
  }

  &__request-content {
    width: 100%;
    height: 327px;
    padding: 100px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__request-text {
    width: 39%;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #000;
  }

  &__request-link {
    width: 46%;
    background: #000;
    color: #F2F2F2;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding: 35px 0;
    text-align: center;
    transition: all .3s ease;
    border: none;

    &:hover {
			box-shadow: 0px 2px 16px rgba(0, 0, 0, .4);
		}
  }
}

@media (max-width: 1090px) {
  .projects-page {
    margin-bottom: 0;

    &__request-content {
      flex-direction: column;
      height: auto;
      align-items: unset;
      padding: 50px 40px;
    }

    &__request-text {
      width: 100%;
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 33px;
      text-align: center;
      font-weight: 600;
    }

    &__request-link {
      width: 353px;
      font-size: 18px;
      line-height: 21px;
      padding: 21px 0 19px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 576px) {
  .projects-page {
    &__request-content {
      padding: 30px;
    }

    &__request-link {
      width: 250px;
      padding: 15px 0;
      font-size: 16px;
    }

    &__request {
      margin-top: 48px;
    }

    &__request-text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}