.repair-team {
  padding-bottom: 50px;

  &__inner {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin: 110px 0 84px;
    }

  &__item {
    align-items: center;
    display: flex;
    width: 36%;
    margin-bottom: 125px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 220px;
    max-height: 220px;
    margin-right: 30px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ccc;
    }
  }

  &__content {
    font-size: 27px;
    line-height: 147.69%;
    color: #4F4F4F;
    width: 390px;
  }

  &__name {
    color: #333333;
    font-weight: 500;
  }

  &__profession {
    font-size: 18px;
    line-height: 147.69%;
    margin-bottom: 28px;
  }
}

@media (max-width: 1350px) {
  .repair-team {
    &__inner {
      margin: 60px 0 56px;
    }

    &__item {
      flex-direction: column;
      text-align: center;
    }

    &__img {
      margin-right: 0;
      margin-bottom: 14px;
      width: 106px;
      height: 106px;
    }

    &__text {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

@media (max-width: 750px) {
  .repair-team {
    &__inner {
      justify-content: center;
    }

    &__content {
      max-width: 390px;
      width: 100%;
    }

    &__item {
      width: 100%;
      margin-bottom: 66px;
      &:nth-child(3) {
        margin-bottom: 66px;
      }
    }
  }
}