.repair {
  margin-bottom: 80px;
  
  &__video {
    padding-top: 104px;
    width: 100%;
    height: 940px;
  }
  .progects-page__request {
    border-top: none;
    border-bottom: none;
  }
}

@media (max-width: 1290px) {
  .repair {
    &__video {
      height: 640px;
    }
  }
}

@media (max-width: 690px) {
  .repair {
    &__video {
      padding-top: 80px;
      height: 400px;
    }
  }
}