.close-btn {
	margin-top: 5px;
	width: 36px;
	height: 36px;
	font-size: 40px;
	color: #BDBDBD;
	background: transparent;
	border: none;
	transition: all .5s ease;
	cursor: pointer;
}

@media (max-width: 690px) {
	.close-btn {
		margin-top: -5px;
		margin-right: -12px;
	}
}