.button__up {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  right: 10px;
  top: 84px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  padding: 21px 83px 21px 23px;
  transform: rotate(-90deg);
  transition: all .3s ease-in-out;
  z-index: 95;

  &::after {
    content: url(./images/arrow-up.svg);
    position: absolute;
    right: 40px;
    top: 11px;
    transform: rotate(90deg);
  }

  &:hover {
    background-color: #FAFF09;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
  }
}

@media (max-width: 1870px) {
  .button__up {
    border: 1px solid #FAFF09;
    font-weight: 300;
    background-color: transparent;
    color: #FAFF09;;
    padding: 10px 25px;
    right: -10px;
    top: 73px;

    &::after {
      display: none;
    }

    &:hover {
      color: #000;
      border: 1px solid transparent;
    }
  }
}

@media (max-width: 780px) {
  .button__up {
    right: -5px;
    top: 45px;
    background: none;
    border: none;
    padding: 0;
    letter-spacing: 1.4px;

    &:hover {
      background: none;
      color: #FAFF09;
      border: none;
    }
  }
}