.repair-result {
  &__inner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  &__item {
    text-align: center;
    width: 20%;
    padding: 25px 47px;
    background: #F2F2F2;
    position: relative;
    transition: all .3s ease-in;

    &::after,
    &::before {
      content: '';
      position: absolute;
      background-color: #FAFF09;
      height: 3px;
      transition: all .3s ease-in;
    }

    &::after {
      left: 0;
      top: -20px;
      width: 150px;
    }

    &::before {
      bottom: -20px;
      right: 0;
      width: 180px;
    }
  }

  &__wrapper-left {
    position: absolute;
    background-color: #000;
    width: 3px;
    height: 90px;
    bottom: 0;
    left: -20px;
  }

  &__wrapper-right {
    position: absolute;
    background-color: #000;
    width: 3px;
    height: 120px;
    top: 0;
    right: -20px;
  }

  &__img {
    margin-bottom: 18px;
  }
}

@media (max-width: 1400px) {
  .repair-result {
    &__inner {
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__item {
      width: 35%;
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 750px) {
  .repair-result {
    margin-top: 70px;
    &__inner {
      margin-top: 50px;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 50px;
    }

    &__item {
      width: 100%;
      margin-bottom: 60px;
      &::after,
      &::before {
        display: none;
      }
    }

    &__wrapper-right,
    &__wrapper-left {
      display: none;
    }
  }
}